footer{
    background-color: #ffe8b4; 
    background-position: center;
}
#footer_items{
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;/* primeiro pega  em cima (0px) o segundo pega o lado direito(8%) o terceiro pega a parte de baixo(24px) e o quarto pega a parte esrquerda(8%)*/
    align-items: center;
}
#copyright{
    color: #1d1d1d;
    font-weight: 500;
}
@media screen and (max-width: 800px ) {
    #footer_items{
        flex-direction: column;
        gap: 20px;

    }

}